<!doctype html>
<html>
	<head>
        <title>Atlassian Sandbox</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- build:remove -->
        <link rel="stylesheet" type="text/css" href="bower_components/aui/css/aui.css">
        <link rel="stylesheet" type="text/css" href="bower_components/aui/css/aui-experimental.css">
        <link rel="stylesheet" type="text/css" href="src/css/main.css">
        <!-- /build -->
        <!-- build:template
        <link rel="stylesheet" type="text/css" href="<%= css %>">
        /build -->
	</head>
	<body
        ng-controller="MainCtrl"
        class="sandbox"
    >
        <div class="loading-screen">
            <div class="loading-message">
                <img src="src/img/aui-sandbox.png" width="231" height="32">
                <h1> Loading... </h1>
                <span class="aui-icon aui-icon-wait"></span>
            </div>
        </div>
        <div id="page">
            <!-- APP HEADER -->
    		<header id="header" role="banner">
                <nav class="aui-header aui-dropdown2-trigger-group" role="navigation">
                    <div class="aui-header-before">
                        <a class="aui-dropdown2-trigger app-switcher-trigger" aria-owns="app-switcher" id="flatpack-app-switcher-trigger">
                            <span class="aui-icon aui-icon-small aui-iconfont-appswitcher">Design/AUI</span>
                        </a>
                        <div class="aui-dropdown2 aui-style-default" id="app-switcher">
                             <ul>
                                <li><a href="../index.html" class="aui-dropdown2-radio interactive">AUI</a></li>
                                <li><a href="http://developer.atlassian.com/design" class="aui-dropdown2-radio">Design Guidelines</a></li>
                                <li><a class="aui-dropdown2-radio checked">AUI Sandbox</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="aui-header-primary">
                        <h1 id="logo" class="aui-header-logo aui-header-logo-aui">
                            <a href="../index.html"><span class="aui-header-logo-device">Atlassian Sandbox</span></a>
                        </h1>
                        <ul class="aui-nav" ng-show="isFlatpack">
                            <li><a href="../docs/index.html">Documentation</a></li>
                            <li><a href="./index.html">Sandbox</a></li>
                        </ul>
                    </div>
                    <div class="aui-header-secondary">
                        <ul class="aui-nav">
                            <li>
                                <button
                                    class="aui-button aui-button-primary"
                                    ng-click="publish()"
                                    ng-controller="SaveCtrl"
                                    id="publish-button"
                                >Publish</button>
                            </li>
                            <li>
                                <div ng-controller="ThemeSwitcherCtrl">
                                    <a id="theme-switcher-link" class="aui-nav-link aui-dropdown2-trigger" href="#" aria-haspopup="true" aria-owns="theme-switcher-content" title="Themes">
                                        <span>Theme: {{currentTheme.title}}</span><span class="aui-icon-dropdown"></span>
                                    </a>
                                    <div id="theme-switcher-content" class="aui-dropdown2 aui-style-default aui-dropdown2-in-header" aria-hidden="true">
                                        <ul id="theme-switcher-link-leading">
                                            <li ng-repeat="theme in themes">
                                                <a class="aui-dropdown2-radio" ng-class="isCurrentTheme(theme)" ng-click="switchToTheme(theme)">{{theme.title}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a id="help-menu-link" class="aui-nav-link aui-dropdown2-trigger" href="#" aria-haspopup="true" aria-owns="sandbox-help-dropdown" title="Help">
                                    <span class="aui-icon aui-icon-small aui-iconfont-help">Help</span><span class="aui-icon-dropdown"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="aui-dropdown2 aui-style-default aui-dropdown2-in-header" id="sandbox-help-dropdown" style="display: none; top: 40px; min-width: 160px; left: 1213px; " aria-hidden="true">
                            <div class="aui-dropdown2-section">
                                <ul id="help-menu-link-leading" class="aui-list-truncate section-leading first">
                                    <li>
                                        <a ng-click="openKeyboardShortcuts()" id="keyboard-shortcuts-link" title="View available keyboard shortcuts ( Type '?' )">
                                            Keyboard shortcuts
                                        </a>
                                    </li>
                                    <li>
                                        <a ng-click="openAbout()" id="about-link" title="About Sandbox">
                                            About Sandbox
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>
            <!-- END OF APP HEADER -->

            <section ng-view></section>

            <div id="hidden-stuff" class="hidden">
                <div type="text/template" id="url-inline-dialog">
                    <span>Share this code with other people using this link:</span>
                    <form class="aui">
                        <input class="text long-field" type="text" name="publishURL" ng-model="publishURL">
                    </form>
                </div>

                <div type="text/template" id="keyboard-shortcuts-dialog-content">
                    <span> The AUI Sandbox is built with the <a href="http://ace.ajax.org/"> ACE Editor </a> which comes with it's own <a href="https://github.com/ajaxorg/ace/wiki/Default-Keyboard-Shortcuts"> keyboard shortcuts </a>.
                    apart from these Sandbox has it's own keyboard shortcuts: </span>
                    <table class="aui">
                        <thead>
                            <tr>
                                <th>Shortcut</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Cmd/Ctrl + J</td>
                                <td>Run with JS</td>
                            </tr>
                            <tr>
                                <td>Cmd/Ctrl + S</td>
                                <td>Save Snippet</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                 <div type="text/template" id="about-dialog-content">
                   <p>AUI Sandbox is a tool for Atlassian Internal and Plugin developers. This tool is designed to familarize developers with both AUI and ADG in a practical hands-on way.</p>
                </div>
            </div>
            <footer id="footer" role="contentinfo">
                <section class="footer-body">
                    <ul>
                        <li>Copyright &copy; 2013 <a href="http://www.atlassian.com" target="_blank">Atlassian</a>. <a href="https://developer.atlassian.com/display/AUI/License">Apache License v2.0</a></li>
                        <li><a href="https://developer.atlassian.com/display/AUI">Documentation</a></li>
                        <li>AUI {{AUIVersion}}</li>
                    </ul>
                </section>
            </footer>
        </div>
        <!-- END PAGE -->

        <!-- build:remove -->
        <script type="text/javascript" data-main="src/js/main.js" src="bower_components/requirejs/require.js"></script>
        <!-- /build -->
        <!-- build:template
        <script type="text/javascript" src="<%= js %>"></script>
        /build -->
        <script type="text/javascript">
            window.SANDBOX = {};

            require(['services/app'], function(app) {
                app();
            });
        </script>
        <script type="text/javascript">
            var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-6032469-23']);_gaq.push(['_setDomainName', '.atlassian.com']);_gaq.push(['_trackPageview']);
            </script>
            <script type="text/javascript">
            (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();
            function recordOutboundLink(link, category) { try { _gaq.push(['_trackEvent', category , 'outbound', link ]); setTimeout('document.location = "' + link + '"', 100) }catch(err){} }
        </script>
	</body>
</html>