<section id="content" role="main" ng-controller="TogglePanelCtrl">
    <header class="aui-page-header" id="sandbox-page-header">
        <div class="aui-page-header-inner">
            <div class="aui-page-header-main">
                <div id="toggle-bar" class="aui-toolbar2">
                    <div class="aui-toolbar-2-inner">
                        <div class="aui-toolbar2-primary" id="save-button-toolbar">
                            <div class="aui-buttons">
                                <button class="aui-button"
                                    ng-click="reset()"
                                    >Clear</button>
                                <button id="save-button"
                                    class="aui-button"
                                    ng-click="save()"
                                    >Save as a Snippet</button>
                                <button
                                    id="soy-enable-trigger"
                                    class="aui-button"
                                    ng-show="isSoyAvailable"
                                    aria-pressed="{{ enableSoy }}"
                                    ng-click="editors.toggleSoy()"
                                    >
                                    <span ng-show="editors.isSoyEnabled()">Disable</span>
                                    <span ng-show="!editors.isSoyEnabled()">Enable</span>
                                    Soy</button>
                            </div>
                            <span ng-show="hash">
                                <span class="aui-icon aui-icon-small aui-iconfont-warning version-warning" ng-hide="$parent.doesVersionMatch()" run-function="createTooltip()" title="This code sample was saved under a different version of AUI">Warning</span>
                                <small class="saved-in">Saved in {{savedVersion}}</small>
                                <span id="wait-icon-container">
                                    <span class="aui-icon aui-icon-wait hidden" id="save-wait-icon">Wait</span>
                                </span>
                            </span>
                        </div>
                        <div class="aui-toolbar2-secondary" id="panel-switcher-toolbar">
                            <div class="aui-buttons">
                                <div class="aui-buttons">
                                    <button
                                        ng-repeat="panel in panels"
                                        ng-click="togglePanel(panel)"
                                        ng-class="{ active: panel.visible }"
                                        class="aui-button"
                                        >{{ panel.title }}</button>
                                </div>
                            </div>
                        </div>
                        <div class="aui-toolbar2-tertiary" id="run-javascript-toolbar">
                             <div class="aui-buttons">
                                <button class="aui-button" id="run-js-button" ng-click="runJavascript()">Run Javascript</button>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="aui-page-panel" id="sandbox-page-panel">
        <div class="aui-page-panel-inner">
            <!-- LHS Navigation -->
            <div class="aui-page-panel-nav" id="library-nav" ng-class="{ hidden: !panels.library.visible }">
                <nav class="aui-navgroup aui-navgroup-vertical">
                    <div class="aui-navgroup-inner">
                        <div class="aui-navgroup-primary">
                            <div class="aui-nav-heading">Library</div>
                            <ul id="components-bar" class="aui-nav" ng-controller="ComponentPanelCtrl">
                                <li ng-repeat="component in components"
                                    ng-class="isActive('component', component)">
                                    <a ng-click="addComponentToEditor(component)" title="{{ component.displayName() }}">{{ component.displayName() }}</a>
                                </li>
                            </ul>
                            <div class="aui-nav-heading">Snippets</div>
                            <ul id="workspace-bar" class="aui-nav">
                                <li ng-class="isActive('snippet', snippet.id)"
                                    ng-repeat="snippet in snippets">
                                    <a  class="snippet-link"
                                        title="{{ snippet.title }}"
                                        ng-click="openSnippet(snippet.id)"
                                        ng-mouseover="hoverSnippetLink($event)"
                                        ng-mouseleave="unhoverSnippetLink($event)">
                                        {{ snippet.title }}
                                        <span class="aui-icon aui-icon-small aui-iconfont-remove remove-snippet-icon hidden"
                                              ng-click="checkDeleteSnippet(snippet, $event)"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>

            <!--  ALL the main content stuff  -->
            <section class="aui-page-panel-content" id="sandbox-content-area">
                <section class="stretch-panels">
                    <!-- HTML -->
                    <section
                        class="stretch html-panel"
                        ng-class="{ hidden: !panels.html.visible }"
                        ng-style="panels.html.style">
                        <div class="stretch-wrapper">
                            <div ng-dblclick="togglePanelExpand('html')" class="section-header">
                                <h5>{{ htmlOrSoy }}</h5>
                            </div>
                            <div class="section-content">
                                <div id="html-editor" class="ace-editor" ui-ace="{ onLoad: aceInit, theme: 'clouds', mode: 'html'}"></div>
                            </div>
                        </div>
                    </section>

                    <!-- Soy -->
                    <section
                        class="stretch soy-panel"
                        ng-class="{ hidden: !panels.soy.visible }"
                        ng-style="panels.soy.style"
                        >
                        <!-- Needs a wrapper because table cell position absolute doesn't work in firefox -->
                        <div class="stretch-wrapper">
                            <div class="splitter-handle"></div>
                            <div ng-dblclick="togglePanelExpand('soy')" class="section-header">
                                <h5>Soy Dependencies</h5>
                            </div>
                            <div class="section-content">
                                <div id="soy-editor" class="ace-editor" ui-ace="{ onLoad: aceInit, theme: 'clouds', mode: 'clojure' }"></div>
                            </div>
                        </div>
                    </section>

                    <!-- JS -->
                    <section
                        class="stretch js-panel"
                        ng-class="{ hidden: !panels.js.visible }"
                        ng-style="panels.js.style"
                        >
                        <!-- Needs a wrapper because table cell position absolute doesn't work in firefox -->
                        <div class="stretch-wrapper">
                            <div class="splitter-handle"></div>
                            <div ng-dblclick="togglePanelExpand('js')" class="section-header">
                                <h5>JavaScript</h5>
                            </div>
                            <div class="section-content">
                                <div id="js-editor" class="ace-editor" ui-ace="{ onLoad: aceInit, theme: 'clouds', mode: 'js' }"></div>
                            </div>
                            <!-- Disabled resizing for phase 1 -->
                        </div>
                    </section>

                    <!-- CSS -->
                    <section
                        class="stretch css-panel"
                        ng-class="{ hidden: !panels.css.visible }"
                        ng-style="panels.css.style"
                        >
                        <!-- Needs a wrapper because table cell position absolute doesn't work in firefox -->
                        <div class="stretch-wrapper">
                            <div class="stretch-wrapper">
                                <div class="splitter-handle"></div>
                                <div ng-dblclick="togglePanelExpand('css')" class="section-header">
                                    <h5>CSS</h5>
                                </div>
                                <div class="section-content">
                                    <div id="css-editor" class="ace-editor" ui-ace="{ onLoad: aceInit, theme: 'clouds', mode: 'css' }"></div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- Preview -->
                    <section
                        id="preview-panel"
                        class="stretch preview-panel"
                        ng-controller="OutputCtrl"
                        ng-class="{ hidden: !panels.output.visible }"
                        ng-style="panels.output.style"
                        >
                        <div class="stretch-wrapper">
                            <div class="splitter-handle"></div>
                            <div ng-dblclick="togglePanelExpand('output')" class="section-header">
                                <h5>Preview</h5>
                                <span id="soy-error-placeholder" class="aui-lozenge aui-lozenge-error">Error</span>
                            </div>
                            <div id="preview-content" class="section-content">
                                <iframe id="output-frame"></iframe>
                            </div>
                        </div>
                    </section>
                </section>
            </section>
        </div>
    </div>
</section>